@import "tailwindcss";

@theme {
  --color-primary: #11808b;
  --color-primary-dark: #0e666f;
  --color-primary-light: #159aa7;
  --font-sans: var(--font-poppins);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
